ROOT_DIR="$HOME/new-matters/git-deploy"
FRONTEND_VOL="${ROOT_DIR}/frontend"
BACKEND_VOL="${ROOT_DIR}/backend"
NETWORK_CIDR="172.23.0"
BACKEND_NAME="${APP_NAME}-backend"
FRONTEND_NAME="${APP_NAME}-frontend"
REDIS_HOST="redis://${NETWORK_CIDR}.4"
DOCKER_HOST="tcp://${NETWORK_CIDR}.1:2375"
POSTGRES_IPV4="${NETWORK_CIDR}.6"
FRONTEND_IPV4="${NETWORK_CIDR}.7"
BACKEND_IPV4="${NETWORK_CIDR}.5"
REDIS_IPV4="${NETWORK_CIDR}.4"
POSTGRES_USER="postgres"
POSTGRES_PASSWD="1234qwer"
POSTGRES_DB="matters"
POSTGRES_VOL="/opt/postgresql/pgdata-matters"
POSTGRES_URL="postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWD}@${POSTGRES_IPV4}/${POSTGRES_DB}"
POSTGRES_IMAGE="postgres:15.4-bullseye"
REDIS_IMAGE="redis:5.0.5"
BACKEND_PORT="8123"
FRONTEND_PORT=""
COMPOSE_PROJECT_NAME=matters
DEPLOYMENT_NETWORK="172.25.0.0/24"

